body {
    background-color: #545d67;
}

#main-header img {
    height: 100%;
    width: 100%;
}

#main-header .port-item {
    width: 30%;
}

#main-header .port-item:hover {
    cursor: pointer;
}

.bg-black {
    background: #000;
    color: white;
}

.bg-grey-1 {
    background-color: #111315;
}

.bg-grey-2 {
    background-color: #202327;
}

.bg-grey-3 {
    background-color: #30363c;
}

.bg-grey-4 {
    background-color: #444b53;
}

.home:hover {
    background-color: #3e444b;
}

.skills:hover {
    background-color: #22262b;
}

.projects:hover {
    background-color: #1a1d20;
}

.contact:hover {
    background-color: #070808;
}

.btn-grey-1 {
    background-color: #111315;
    color: white;
}

.btn-grey-1:hover {
    background-color: #23272b;
    color: white;
}

.btn-grey-3 {
    background-color: #30363c;
    color: white;
}

.btn-grey-3:hover {
    background-color: #414a53;
    color: white;
}

.btn:hover {
    color: white;
}

@media (min-width: 1199px) {
    .port-item {
        padding: 3em !important;
    }
}

.project-row {
    margin-bottom: 15px;
}

a.project {
    align-items: center;
    color: #fff;
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.2rem;
    justify-content: center;
    min-height: 290px;
    text-align: center;
    text-decoration: none;
}

a.movie-fight {
    background-color: #01b288;
    transition: 0.3s linear;
}

a.movie-fight:hover {
    background-color: #03ca9c;
}

a.jsbank {
    background-color: #006a4c;
    transition: 0.3s linear;
}

a.jsbank:hover {
    background-color: #028b65;
}

a.clearview {
    background-color: #305572;
    transition: 0.3s linear;
}

a.clearview:hover {
    background-color: #3e6e92;
}

a.piggame {
    background-color: #242424;
    transition: 0.3s linear;
}

a.piggame:hover {
    background-color: #3d3d3d;
}

.card {
    border-radius: 0;
}
